body {
  // background: #232323;
  background: #DBDBDB;
}

hr {
  opacity: 0.2;
  width: 50%;
}

.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.nav {
  min-width: 900px;
  max-width: 100%;
  // margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  height: 100px;
  background-color: lighten(#DBDBDB, 8%);
  margin-top: 0;
  // overflow: hidden;
  // text-align: right;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.textlink {
  img {
   width: 100px;
   border-bottom: 3px solid lighten(#DBDBDB, 8%);
   transition: border-bottom 0.4s ease;
  }
  img:hover {
    border-bottom: 3px solid #DBDBDB;
  }
}

.doublewolf {
  opacity: 0.7;
  img {
    width: 75px;
  }
}

.jonnywarren {
  width: 75%;
  margin-bottom: 5px;
  margin-left: -25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: #1D1D1D;
    }
  }
}

.homelinks {
  margin: 80px auto;
  width: 900px;
  a {
    text-decoration: none;
  }
}

.info {
  background: url(../images/texture.png);
  min-width: 900px;
  max-width: 100%;
  height: 300px;
  .socialblock {
    padding-top: 80px;
  }
  a {
    text-decoration: none;
    color: #EFEFEF;
  }
  span {
    color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
  }
  i {
    padding: 5px;
    transition: color 0.4s ease;
  }
  i:hover {
    color: lighten(#EFEFEF, 30%);
  }
  .info_location {
    margin-right: 10px;
  }
  .info_email {
    margin-left: 10px;
    margin-right: 10px;
  }
  .info_phone {
    margin-left: 10px;
  }
}

.art {
  margin-right: 20px;
  width: 350px;
  height: 450px;
  border: 15px solid #EFEFEF;
  transition: border 0.4s ease;
  display: inline-block;
  text-align: left;
  // background: url(../images/visualart.png);
  // background-repeat: no-repeat;
  // background-position: 20px 40px;
  img {
    padding-top: 40px;
    padding-left: 20px;
  }
}
.art:hover {
  background: url(../images/visualart_bg.png);
  border: 15px solid lighten(#EFEFEF, 5%);
  box-shadow: 0px 0px 5px lighten(#EFEFEF, 5%);
}

.web {
  margin-left: 20px;
  width: 350px;
  height: 450px;
  border: 15px solid #EFEFEF;
  transition: border 0.4s ease;
  display: inline-block;
  text-align: left;
  // background: url(../images/webdev.png);
  // background-repeat: no-repeat;
  // background-position: 20px 40px;
  img {
    padding-top: 40px;
    padding-left: 20px;
  }
}
.web:hover {
  background: url(../images/webdev_bg.png);
  border: 15px solid lighten(#EFEFEF, 5%);
  box-shadow: 0px 0px 5px lighten(#EFEFEF, 5%);
}

.background {
  position: relative;
  min-width: 900px;
  max-width: 1000px;
  margin: 0 auto;
}

.aboutimage {
  width: 100%;
}

.aboutme {
  background: #1D1D1D;
  opacity: 0.8;
  color: #DBDBDB;
  width: 400px;
  height: 400px;
  overflow: scroll;
  position: absolute;
  bottom: 40px;
  margin-left: 20px;
  padding: 20px;
  text-align: left;
  .abouttext {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
  }
  hr {
    border-color: #7A7A7A;
    opacity: 0.1;
  }
}

.abouttext {
  a {
    text-decoration: underline;
    color: #7A7A7A;
  }
  a:hover {
    color: white;
  }
}

.mediaicons {
  position: absolute;
  bottom: 75px;
  left: 40px;
  word-spacing: 0.3em;
  a {
    color: #7A7A7A;
  }
  a:hover {
    color: white;
  }
}

