<section class="single-view">
  <div class="images">
    <img src="images/still_abstract.jpg">
    <img src="images/abstract_screen1.jpg">
    <img src="images/abstract_screen2.jpg">
  </div>
  <div class="desc">
    <h3>abstract: a community for makers</h3>
    <p>An online community for makers to share ideas, gain feedback, and collaborate on projects.</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://abstract.surge.sh">Live Page</span>
    <span><a class="desc-link" href="https://github.com/Abstract-App/abstract-fe">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>