<section class="single-view">
  <div>
    <img src="images/still_artwork.jpg">
  </div>
  <div class="desc">
    <h3>Artwork</h3>
    <p>An app using Backbone models, collections and routers to fetch data (my artwork and its properties) from Parse to put on screen.</p>

    <p>Demonstrates basic understanding of how to use a REST API and BaaS (backend as a service).</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://tacky-trouble.surge.sh">Live Page</span>
    <span><a class="desc-link" href="https://github.com/thedoublewolf/The-Double-Wolf-Artwork">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>