<section class="single-view">
  <div>
    <img src="images/still_battlefortheunderworld.jpg">
  </div>
  <div class="desc">
    <h3>Battle for the Underworld</h3>
    <p>A war-style card game utilizing the DeckBrew MTG API for card data.</p>
    <p>Damage is dealt by each random creature's power (the 1st number in the bottom right corner of the card).</p>
    <hr class="desc-hr">
    <span><a class="desc-link" href="http://thedoublewolf-battle-for-the-underworld.surge.sh/">Live Page</span>
    <span><a class="desc-link" href="https://github.com/thedoublewolf/Planeswalker-Wars">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>