<section class="single-view">
  <div class="images">
    <img src="images/collectiv27webconcept.jpg">
  </div>
  <div class="desc">
    <h3>COLLECTIV27</h3>
    <p>A one-page Bootstrap app developed from Photoshop concept to live page.</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://c27.surge.sh">Live Page</span>
    <span><a class="desc-link" href="https://github.com/thedoublewolf/collectiv27">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>