<section class="single-view">
  <div>
    <img src="images/still_etsythegathering.jpg">
  </div>
  <div class="desc">
    <h3>Etsy: the Gathering</h3>
    <p>A re-creation of an etsy page fetching data via a simple ajax request from etsy API</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://etsythegathering.surge.sh">Live Page</span>
    <span><a class="desc-link" href="https://github.com/thedoublewolf/Etsy-the-Gathering-live-data">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>