<section class="single-view">
  <div>
    <img src="images/still_Favorite-Bands.jpg">
  </div>
  <div class="desc">
    <h3>Favorite Bands</h3>
    <p>A list of my favorite bands.</p>

    <p>Utilizes Backbone Models, Collections, and Routers.</p>

    <p>Uses BaaS to pull both an array of data as well as a single object.</p>

    <p>Also uses BaaS to push data and create a new resource.</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://berserk-thunder.surge.sh/">Live Page</span>
    <span><a class="desc-link" href="https://github.com/thedoublewolf/favorite-bands">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>