<section class="single-view">
  <div class="images">
    <img src="images/still_officehawk.jpg">
    <img src="images/officehawk_screen1.jpg">
    <img src="images/officehawk_screen2.jpg">
  </div>
  <div class="desc">
    <h3>OfficeHawk</h3>
    <p>An office management app for tracking where employees spend their time.</p>

    <p>Created during The Iron Yard Fall 2015 Hackathon</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://officehawk.surge.sh">Live Page</span>
    <span><a class="desc-link" href="https://github.com/Hack-TIY-2015-OfficeHawk/front-end">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>