<section class="single-view">
  <div>
    <img src="images/still_sketchcloud.jpg">
  </div>
  <div class="desc">
    <h3>Sketchcloud</h3>
    <p>A web app for artists to share and critique ideas.</p>

    <hr class="desc-hr">
    <span><a class="desc-link" href="http://sketchcloud.surge.sh">Live Page</span>
    <span><a class="desc-link" href="https://github.com/thedoublewolf/SketchCloud/tree/master">GitHub Repository</a></span>
    <p><a href="#/web-portfolio"><i class="fa fa-arrow-left fa-2x"></i></a></p>
  </div>
</section>