body {
  background: #232323; }

hr {
  opacity: 0.2;
  width: 50%; }

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #8e8e8e; }

h3 {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #8e8e8e; }

.container {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.nav {
  min-width: 900px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  height: 100px;
  background-color: #efefef;
  margin-top: 0; }

.left {
  display: inline-block;
  float: left; }

.right {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  height: 80px; }

.textlink {
  display: inline-block;
  float: left; }
  .textlink img {
    width: 100px;
    border-bottom: 3px solid #efefef;
    transition: border-bottom 0.2s ease; }
  .textlink img:hover {
    border-bottom: 3px solid #bb2e2b; }

.droplink {
  display: inline-block;
  float: left; }
  .droplink img {
    width: 100px;
    border-bottom: 3px solid #efefef;
    transition: border-bottom 0.2s ease; }
  .droplink img:hover {
    border-bottom: 3px solid #bb2e2b;
    cursor: pointer; }
  .droplink ul {
    display: none;
    width: 100px;
    position: absolute;
    z-index: 2; }
  .droplink ul li {
    display: block;
    float: none;
    background: #efefef;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px;
    border-bottom: 3px solid #efefef; }
  .droplink ul li:hover {
    border-bottom: 3px solid #bb2e2b; }
  .droplink ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px; }
  .droplink div:hover + .hidden, .droplink .hidden:hover {
    display: block; }

.doublewolf img {
  width: 75px; }

.jonnywarren {
  width: 75%;
  margin-bottom: 5px;
  margin-left: -10px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto; }
  ul li {
    display: inline-block; }
    ul li a {
      text-decoration: none;
      color: #1D1D1D; }

.homelinks {
  margin: 80px auto;
  width: 900px; }
  .homelinks a {
    text-decoration: none; }

.info {
  background: url(../images/texture.png);
  min-width: 900px;
  max-width: 100%;
  padding-left: 10px;
  padding-left: 10px;
  height: 300px; }
  .info .socialblock {
    padding-top: 80px; }
  .info a {
    text-decoration: none;
    color: #EFEFEF; }
  .info span {
    color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.1em; }
  .info i {
    padding: 5px;
    transition: color 0.2s ease; }
  .info i:hover {
    color: white; }
  .info .info_location {
    margin-right: 10px; }
  .info .info_email {
    margin-left: 10px;
    margin-right: 10px; }
  .info .info_phone {
    margin-left: 10px; }

.art {
  margin-right: 20px;
  width: 350px;
  height: 450px;
  border: 15px solid #EFEFEF;
  background: #232323;
  transition: background 0.5s ease;
  display: inline-block;
  text-align: left; }
  .art img {
    padding-top: 40px;
    padding-left: 20px; }

.art:hover {
  background: url(../images/visualart_bg.png);
  border: 15px solid #fcfcfc; }

.web {
  margin-left: 20px;
  width: 350px;
  height: 450px;
  border: 15px solid #EFEFEF;
  background: #232323;
  transition: background 0.5s ease;
  display: inline-block;
  text-align: left; }
  .web img {
    padding-top: 40px;
    padding-left: 20px; }

.web:hover {
  background: url(../images/webdev_bg.png);
  border: 15px solid #fcfcfc; }

.art-tiles {
  position: relative;
  margin: 0 auto;
  width: 1000px; }

.art-tile {
  width: 220px;
  height: 167px;
  float: left;
  margin: 10px;
  overflow: hidden;
  background: white; }

.more-art {
  background: url(../images/button_moreart.png);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: background-size 0.2s ease; }

.more-art:hover {
  background-size: 240px; }

.art-image {
  width: 300px;
  opacity: 1;
  transition: opacity 0.2s ease; }

.art-image:hover {
  opacity: 0.5;
  cursor: pointer; }

.single-view {
  margin: 50px auto;
  width: 1000px; }
  .single-view div {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #7A7A7A; }
    .single-view div span {
      padding-right: 10px; }
  .single-view a {
    text-decoration: none;
    color: #949494; }
  .single-view a:hover {
    color: white; }
  .single-view .desc {
    width: 400px; }
  .single-view .desc-hr {
    margin-left: 0; }
  .single-view .desc-link {
    color: #949494;
    font-weight: 400; }
  .single-view .images {
    width: 500px; }
  .single-view img {
    width: 500px; }

.web-tiles {
  position: relative;
  margin: 0 auto;
  width: 1000px; }

.web-tile {
  width: 300px;
  height: 185px;
  float: left;
  margin: 10px;
  background: white; }

.collectiv-tile {
  background: url(../images/still_collectiv27.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.abstract-tile {
  background: url(../images/still_abstract.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.ohawk-tile {
  background: url(../images/still_officehawk.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.battle-tile {
  background: url(../images/still_battlefortheunderworld.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.battle-tile:hover {
  background: url(../images/battlefortheunderworld.gif);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.sketchcloud-tile {
  background: url(../images/still_sketchcloud.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.sketchcloud-tile:hover {
  background: url(../images/sketchcloud.gif);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.artwork-tile {
  background: url(../images/still_artwork.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.artwork-tile:hover {
  background: url(../images/artwork.gif);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.etsy-tile {
  background: url(../images/still_etsythegathering.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.etsy-tile:hover {
  background: url(../images/etsythegathering.gif);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.favbands-tile {
  background: url(../images/still_Favorite-Bands.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.favbands-tile:hover {
  background: url(../images/Favorite-Bands.gif);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.instanoir-tile {
  background: url(../images/still_InstaNoir.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.instanoir-tile:hover {
  background: url(../images/InstaNoir.gif);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; }

.github-tile {
  background: url(../images/button_github.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: background-size 0.2s ease; }

.github-tile:hover {
  background-size: 320px; }

.art-about {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px; }
  .art-about h3 {
    margin: 10px; }
  .art-about .art-cv {
    font-weight: 300;
    color: #8e8e8e;
    margin-left: 20px; }
    .art-about .art-cv li {
      padding: 5px;
      display: block; }

.background {
  position: relative;
  min-width: 900px;
  max-width: 1000px;
  margin: 0 auto; }

.aboutimage {
  width: 100%; }

.aboutme {
  background: #1D1D1D;
  opacity: 0.8;
  color: #DBDBDB;
  width: 400px;
  height: 400px;
  overflow: scroll;
  position: absolute;
  bottom: 40px;
  margin-left: 20px;
  padding: 20px;
  text-align: left; }
  .aboutme .abouttext {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2em; }
  .aboutme hr {
    border-color: #7A7A7A;
    opacity: 0.1; }

.abouttext a {
  text-decoration: underline;
  color: #7A7A7A; }

.abouttext a:hover {
  color: white; }

.mediaicons {
  position: absolute;
  bottom: 75px;
  left: 40px;
  word-spacing: 0.3em; }
  .mediaicons a {
    color: #7A7A7A; }
  .mediaicons a:hover {
    color: white; }

/*# sourceMappingURL=main.css.map */
