<section class="art-about">
<div class="art-cred">
  <h3>BFA Studio Art, Florida State University 2010</h3>
  <h3>Represented by <a href="www.kailinart.com">Kai Lin Art</a></h3>
</div>
<h2>EXHIBITIONS / EVENTS</h2>

<h3>2015</h3>
<ul class="art-cv">
  <li>10/17 - FOWARD WARRIOR - Grow the Block, College Park, Atlanta GA</li>
  <li>6/20-21 - FORWARD WARRIOR 2015, Cabbagetown, Atlanta GA</li>
  <li>2/13 - AMBITIOUS BEAST, Kai Lin Art, Atlanta GA</li>
</ul>

<h3>2014</h3>
<ul class="art-cv">
  <li>4/5 - 30 Artists in 30 Days, Silent Auction to benefit One Love Generation, Rodriguez Room - Goat Farm Arts Center, Atlanta GA</li>
  <li>3/7 - 30 Artists in 30 Days, live drawing session, Sam Flax Art & Design, Atlanta GA</li>
  <li>2/15 - The Brightness, Beep Beep Gallery, Atlanta GA</li>
  <li>12/19 - AWAKEN, Kai Lin Art, Atlanta GA</li>
</ul>

<h3>2013</h3> 
<ul class="art-cv">
  <li>12/13 - WONDERMENT, Kai Lin Art, Atlanta GA</li>
  <li>9/14 - ATLANTALAND, MINT Gallery, Atlanta GA</li>
  <li>8/31 - INFOXICATED ATL, Borderline Gallery, Atlanta GA</li>
  <li>7/13 - We Drank We Drew, Cube Gallery, Atlanta GA</li>
  <li>7/12 - ASCENSION, Kai Lin Art, Atlanta GA</li>
  <li>5/3 - 30 Artists in 30 Days, Silent Auction to benefit One Love Generation, Kai Lin Art, Atlanta GA</li>
  <li>4/5 - 30 Artists in 30 Days, live drawing session, Sam Flax Art & Design, Atlanta GA</li>
  <li>1/30 - Drink and Doodle, Vol. 23, ABV Gallery, Atlanta GA</li>
</ul>

<h3>2012</h3>
<ul class="art-cv">
  <li>12/8 - 7th Annual Postcard Pin-up Show, MINT Gallery, Atlanta GA</li>
  <li>12/1 - Alchemy, Beep Beep Gallery, Atlanta GA</li>
  <li>10/31 - Featured Artist of the Month, Sam Flax Art & Design, Atlanta GA</li>
  <li>8/3 - All that is Here and Now, works by Ashley Cline and  Jonny Warren, The Cube Gallery, Atlanta GA</li>
  <li>7/14 - UNTITLED:, MINT Gallery, Atlanta GA</li>
  <li>5/23 - Drink and Doodle, Volume Sixteen, ABV Gallery, Atlanta GA</li>
  <li>5/18 - Fresh Blood Exhibition, Mason Murer Fine Art, Atlanta GA</li>
  <li>5/11 - Official Launch Art Show, The Cube Gallery, Atlanta GA</li>
</ul>

<h3>2011</h3>
<ul class="art-cv">
  <li>Spirit Animals, MINT Gallery, Atlanta GA</li>
  <li>Project Art-Reach, Capital City Youth Services, Inc., Tallahassee FL</li>
</ul>

<h3>2010</h3> 
<ul class="art-cv">
  <li>Graduating Artists Summer 2010, Museum of Fine Arts, Florida  State University, Tallahassee FL</li>
</ul>
</section>