<div class="background">
  
  <img  class="aboutimage" src="images/jwbio.png">

  <div class="aboutme">
    <p class="abouttext">I'm Jonny, a front end web developer.  Having a background in the visual arts, I find that conceptualizing and creating a piece of art is much like creating a web application.  I strive to find creative solutions to problems and explore new ways of thinking.</p>
    <p class="abouttext">When it comes to design, I believe in functionality, simplicity, and adapting to the aesthetics of each client.</p>
    <hr>
    <p class="abouttext"><a href="#/contact">Contact me</a> for your next project!</p>
  </div>

  <div class="mediaicons">
    <span><a href="https://www.linkedin.com/in/jonny-warren-99672810b"><i class="fa fa-linkedin-square fa-3x"></i></a></span>
    <span><a href="https://github.com/thedoublewolf"><i class="fa fa-github-square fa-3x"></i></a></span>
    <span><a href="https://twitter.com/thedoublewolf"><i class="fa fa-twitter-square fa-3x"></i></a></span>
  </div>

</div>