<div class="background">
  
  <img  class="aboutimage" src="images/jwbio.gif">

  <div class="aboutme">
    <h2>ABOUT</h2>
    <p class="abouttext">Hello!</p>
    <p class="abouttext">I'm Jonny, a seeker of strong visual aesthetics who specializes in concept-driven, detail-oriented art and web development.  I also enjoy exploring innovation and finding inspiration in anything I can get my hands and eyes on.</p>
    <p class="abouttext">Whether I am communicating with the viewer through visual art or the user through web development, my goal is to always create a captivating experience.  Along with my love for exploring new web technology, I strive to find creative solutions to problems to create innovative products that users will enjoy for years to come.</p>
    <hr>
    <br>
    <p class="abouttext"><a href="#/contact">Contact me</a> for your next project!</p>
    <br>
    <section class="art-about">
      <p class="abouttext">Resume: <a href="images/jonnywarren_resume.pdf" download="jonnywarren_resume.pdf">Download PDF</a></p>
      <br>
      <p class="abouttext"><i class="fa fa-graduation-cap"></i> Front End Engineering, The Iron Yard Fall 2015</p>
      <p class="abouttext"><i class="fa fa-graduation-cap"></i> BFA Studio Art, Florida State University 2010</p>
      <br>
      <p class="abouttext">Represented by <a href="www.kailinart.com">Kai Lin Art</a></p>
      <br>
      <h2>EXHIBITIONS / EVENTS</h2>

      <h3>2016</h3>
      <ul class="art-cv abouttext">
        <li>7/17 - Atlanta Cycling Festival Quick Release Art Print Show, Eventide Brewing, Atlanta GA</li>
        <li>7/11-12 - FORWARD WARRIOR 2016, Cabbagetown, Atlanta GA</li>
      </ul>


      <h3>2015</h3>
      <ul class="art-cv abouttext">
        <li>10/17 - FOWARD WARRIOR - Grow the Block, College Park, Atlanta GA</li>
        <li>6/20-21 - FORWARD WARRIOR 2015, Cabbagetown, Atlanta GA</li>
        <li>2/13 - AMBITIOUS BEAST, Kai Lin Art, Atlanta GA</li>
      </ul>

      <h3>2014</h3>
      <ul class="art-cv abouttext">
        <li>4/5 - 30 Artists in 30 Days, Silent Auction to benefit One Love Generation, Rodriguez Room - Goat Farm Arts Center, Atlanta GA</li>
        <li>3/7 - 30 Artists in 30 Days, live drawing session, Sam Flax Art & Design, Atlanta GA</li>
        <li>2/15 - The Brightness, Beep Beep Gallery, Atlanta GA</li>
        <li>12/19 - AWAKEN, Kai Lin Art, Atlanta GA</li>
      </ul>

      <h3>2013</h3> 
      <ul class="art-cv abouttext">
        <li>12/13 - WONDERMENT, Kai Lin Art, Atlanta GA</li>
        <li>9/14 - ATLANTALAND, MINT Gallery, Atlanta GA</li>
        <li>8/31 - INFOXICATED ATL, Borderline Gallery, Atlanta GA</li>
        <li>7/13 - We Drank We Drew, Cube Gallery, Atlanta GA</li>
        <li>7/12 - ASCENSION, Kai Lin Art, Atlanta GA</li>
        <li>5/3 - 30 Artists in 30 Days, Silent Auction to benefit One Love Generation, Kai Lin Art, Atlanta GA</li>
        <li>4/5 - 30 Artists in 30 Days, live drawing session, Sam Flax Art & Design, Atlanta GA</li>
        <li>1/30 - Drink and Doodle, Vol. 23, ABV Gallery, Atlanta GA</li>
      </ul>

      <h3>2012</h3>
      <ul class="art-cv abouttext">
        <li>12/8 - 7th Annual Postcard Pin-up Show, MINT Gallery, Atlanta GA</li>
        <li>12/1 - Alchemy, Beep Beep Gallery, Atlanta GA</li>
        <li>10/31 - Featured Artist of the Month, Sam Flax Art & Design, Atlanta GA</li>
        <li>8/3 - All that is Here and Now, works by Ashley Cline and  Jonny Warren, The Cube Gallery, Atlanta GA</li>
        <li>7/14 - UNTITLED:, MINT Gallery, Atlanta GA</li>
        <li>5/23 - Drink and Doodle, Volume Sixteen, ABV Gallery, Atlanta GA</li>
        <li>5/18 - Fresh Blood Exhibition, Mason Murer Fine Art, Atlanta GA</li>
        <li>5/11 - Official Launch Art Show, The Cube Gallery, Atlanta GA</li>
      </ul>

      <h3>2011</h3>
      <ul class="art-cv abouttext">
        <li>Spirit Animals, MINT Gallery, Atlanta GA</li>
        <li>Project Art-Reach, Capital City Youth Services, Inc., Tallahassee FL</li>
      </ul>

      <h3>2010</h3> 
      <ul class="art-cv abouttext">
        <li>Graduating Artists Summer 2010, Museum of Fine Arts, Florida  State University, Tallahassee FL</li>
      </ul>
    </section>
  </div>

<!--   <div class="mediaicons">
    <span><a href="https://www.linkedin.com/in/jonnyrwarren"><i class="fa fa-linkedin-square fa-3x"></i></a></span>
    <span><a href="https://github.com/thedoublewolf"><i class="fa fa-github-square fa-3x"></i></a></span>
    <span><a href="https://twitter.com/thedoublewolf"><i class="fa fa-twitter-square fa-3x"></i></a></span>
  </div> -->

</div>