<section class="web-tiles">
  <h2>SELECTED PROJECTS</h2>

  <a href="#/web-portfolio/abstract">
    <div class="web-tile abstract-tile">
    </div>
  </a>

  <a href="#/web-portfolio/ohawk">
    <div class="web-tile ohawk-tile">
    </div>
  </a>

  <a href="#/web-portfolio/battle">
    <div class="web-tile battle-tile">
    </div>
  </a>

  <a href="#/web-portfolio/sketchcloud">
    <div class="web-tile sketchcloud-tile">
    </div>
  </a>

  <a href="#/web-portfolio/artwork">
    <div class="web-tile artwork-tile">
    </div>
  </a>

  <a href="#/web-portfolio/etsy">
    <div class="web-tile etsy-tile">
    </div>
  </a>

  <a href="#/web-portfolio/favbands">
    <div class="web-tile favbands-tile">
    </div>
  </a>

  <a href="#/web-portfolio/instanoir">
    <div class="web-tile instanoir-tile">
    </div>
  </a>

  <a href="https://github.com/thedoublewolf">
    <div class="web-tile github-tile">
    </div>
  </a>
</section>