<section class="web-tiles">
  <h3>WEB DEVELOPMENT</h3>
  
  <a href="#/web-portfolio/battle">
    <div class="web-tile battle-tile">
    </div>
  </a>

  <a href="#/web-portfolio/artwork">
    <div class="web-tile artwork-tile">
    </div>
  </a>

  <a href="#/web-portfolio/etsy">
    <div class="web-tile etsy-tile">
    </div>
  </a>

  <a href="#/web-portfolio/favbands">
    <div class="web-tile favbands-tile">
    </div>
  </a>

  <a href="#/web-portfolio/instanoir">
    <div class="web-tile instanoir-tile">
    </div>
  </a>
</section>