<div class="homelinks">

  <a href="#/art-portfolio">
    <div class="art">
      <img src="images/visualart.png">
    </div>
  </a>

  <a href="#/web-portfolio">
    <div class="web">
      <img src="images/webdev.png">
    </div>
  </a>

</div>

<div class="info">
  <div class="socialblock">
    <span><a href="https://www.facebook.com/thedoublewolf"><i class="fa fa-facebook-square fa-2x"></i></a></span>
    <span><a href="https://www.linkedin.com/in/jonny-warren-99672810b"><i class="fa fa-linkedin-square fa-2x"></i></a></span>
    <span><a href="https://www.instagram.com/thedoublewolf/"><i class="fa fa-instagram fa-2x"></i></a></span>
    <span><a href="https://github.com/thedoublewolf"><i class="fa fa-github-square fa-2x"></i></a></span>
    <span><a href="https://twitter.com/thedoublewolf"><i class="fa fa-twitter-square fa-2x"></i></a></span>
    <hr>
    <span class="info_location"><i class="fa fa-globe fa-1x"></i> Atlanta, GA</span>
    <span class="info_email"><i class="fa fa-envelope fa-1x"></i> jonnywarren06@gmail.com</span>
    <span class="info_phone"><i class="fa fa-phone-square fa-1x"></i> 850.390.1189</span>
  <div class="socialblock">
</div>