<section class="outer-container">

  <div class="nav">

    <ul class="left">
      <li class="doublewolf"><a href="#/"><img src="images/thedoublewolf_blinking.gif"></a></li>
      <li><img class="jonnywarren" src="images/jonnywarren.png"></li>
    </ul>

    <ul class="right">
      <li class="textlink button-home"><a href="#/"><img src="images/button_home.png"></a></li>
      <li class="textlink button-portfolio"><a href="#/portfolio"><img src="images/button_portfolio.png"></a></li>
      <li class="textlink button-about"><a href="#/about"><img src="images/button_about.png"></a></li>
      <li class="textlink button-contact"><a href="#/contact"><img src="images/button_contact.png"></a></li>
    </ul>

  </div>

  <section class="container" ui-view></section>
</section>