<div class="nav">

  <ul class="left">
    <li class="doublewolf"><a href="#/"><img src="images/thedoublewolf_blinking.gif"></a></li>
    <li><img class="jonnywarren" src="images/jonnywarren.png"></li>
  </ul>

  <ul class="right">

    <li class="textlink button-home">
      <a href="#/">
        <img src="images/button_home.png">
      </a>
    </li>

    <li class="droplink button-portfolio">
      <div>
        <img src="images/button_portfolio.png">
      </div>
      <ul class="hidden">
        <a href="#/art-portfolio"><li>ART</li></a>
        <a href="#/web-portfolio"><li>WEB</li></a>
      </ul>
    </li>

    <li class="droplink button-about">
      <div>
        <img src="images/button_about.png">
      </div>
      <ul class="hidden">
        <a href="#/art-about"><li>ART</li></a>
        <a href="#/web-about"><li>WEB</li></a>
      </ul>
    </li>

    <li class="textlink button-contact">
      <a href="#/contact">
        <img src="images/button_contact.png">
      </a>
    </li>

  </ul>

</div>

<section class="container" ui-view></section>
